@import "tailwindcss";

@layer components {
  :root {
    --darkTheme: linear-gradient(
        to bottom,
        rgba(169, 85, 247, 0.76) 0%,
        rgba(169, 85, 247, 0.452) 20%,
        rgba(169, 85, 247, 0.171) 40%,
        transparent 70%
      ),
      #040a16;
    --whiteTheme: linear-gradient(
        to bottom,
        rgba(169, 85, 247, 0.603) 0%,
        rgba(169, 85, 247, 0.445) 20%,
        rgba(169, 85, 247, 0.26) 40%,
        transparent 70%
      ),
      #f3f0f0;
    --contentTheme: #ffffff;
  }
}

@layer theme {
  .bg-darkTheme {
    background: var(--darkTheme);
    color: #ffff;
  }

  .bg-whiteTheme {
    background: var(--whiteTheme);
    color: #141414;
  }

  .bg-contentTheme {
    background-color: var(--contentTheme);
  }
}

@layer base {
  button {
    cursor: pointer;
    transition: all 300ms;
  }
}

@layer utilities {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
}
