@import "tailwindcss";

@layer components {
  :root {
    --darkTheme: #040a16;
    --whiteTheme: #f3f0f0;
    --contentTheme: #ffffff1c;
  }
}

@layer theme {
  .bg-darkTheme {
    background-color: var(--darkTheme);
  }

  .bg-whiteTheme {
    background-color: var(--whiteTheme);
  }

  .bg-contentTheme {
    background-color: var(--contentTheme);
  }
}
