@import "tailwindcss";

@layer components {
  :root {
    --darkTheme: #040a16;
    --whiteTheme: #f3f0f0;
    --contentTheme: #ffffff1c;
  }
}

@layer theme {
  .bg-darkTheme {
    background-color: var(--darkTheme);
    color: #ffff;
  }

  .bg-whiteTheme {
    background-color: var(--whiteTheme);
    color: #141414;
  }

  .bg-contentTheme {
    background-color: var(--contentTheme);
  }
}

@layer base {
  button {
    cursor: pointer;
    transition: all 300ms;
  }
}
