@import "tailwindcss";

@layer components {
  :root {
    --darkTheme: #040a16;
    --whiteTheme: #f3f0f0;
    --contentTheme: #ffffff1c;
  }
}

@layer theme {
  .bg-darkTheme {
    background-color: var(--darkTheme);
    color: #ffff;
  }

  .bg-whiteTheme {
    background-color: var(--whiteTheme);
    color: #141414;
  }

  .bg-contentTheme {
    background-color: var(--contentTheme);
  }
}

@layer base {
  button {
    cursor: pointer;
    transition: all 300ms;
  }
}

@layer utilities {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 999px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
}
